.dashboard{

    margin-left:260px;

    padding:35px;

    background:#f4f7fc;

    min-height:100vh;

}

.dashboard-title{

    margin-bottom:35px;

    color:#1f2937;

}

.cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

    gap:25px;

}

.dashboard-card{

    color:white;

    padding:30px;

    border-radius:18px;

    transition:.3s;

    cursor:pointer;

    box-shadow:0 8px 20px rgba(0,0,0,.15);

}

.dashboard-card:hover{

    transform:translateY(-8px);

}

.dashboard-card h2{

    font-size:20px;

    margin-bottom:20px;

}

.dashboard-card h1{

    font-size:45px;

}

.books{

    background:linear-gradient(135deg,#2563eb,#3b82f6);

}

.students{

    background:linear-gradient(135deg,#10b981,#34d399);

}

.category{

    background:linear-gradient(135deg,#f59e0b,#fbbf24);

}

.issue{

    background:linear-gradient(135deg,#ef4444,#f87171);

}

.dashboard-bottom{

    margin-top:40px;

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:25px;

}

.recent-books{

    background:white;

    border-radius:18px;

    padding:25px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.recent-books h2{

    margin-bottom:20px;

}

.recent-books table{

    width:100%;

    border-collapse:collapse;

}

.recent-books th{

    background:#2563eb;

    color:white;

    padding:12px;

}

.recent-books td{

    padding:12px;

    border-bottom:1px solid #eee;

}

.summary{

    background:white;

    border-radius:18px;

    padding:25px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.summary h2{

    margin-bottom:20px;

}

.summary p{

    margin:18px 0;

    font-size:18px;

    color:#444;

}