.sidebar{

    width:260px;

    height:100vh;

    position:fixed;

    left:0;

    top:0;

    background:linear-gradient(180deg,#0F172A,#1E3A8A);

    color:white;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    box-shadow:5px 0 15px rgba(0,0,0,.2);

}

.sidebar-logo{

    text-align:center;

    padding:30px 0;

    border-bottom:1px solid rgba(255,255,255,.2);

}

.sidebar-logo h2{

    font-size:28px;

    font-weight:bold;

}

.sidebar ul{

    list-style:none;

    padding:30px 0;

}

.sidebar li{

    margin:8px 18px;

}

.sidebar a{

    display:flex;

    align-items:center;

    gap:12px;

    color:white;

    text-decoration:none;

    padding:15px 18px;

    border-radius:12px;

    transition:.3s;

    font-size:17px;

}

.sidebar a:hover{

    background:white;

    color:#1E3A8A;

    transform:translateX(8px);

}

.logout{

    margin:20px;

    padding:15px;

    border-radius:12px;

    background:#ef4444;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    cursor:pointer;

    transition:.3s;

}

.logout:hover{

    background:#dc2626;

}